.gifTastic{
    font-family: 'Fredericka the Great', cursive;
    content: ' \2605';
    color: rgb(255, 203, 0);
}

body {

    /* https://cssgradient.io/ */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(127,149,182,1) 10%, rgba(0,123,255,1) 88%);
    font-family: 'Fredericka the Great', cursive;
    
}
h2 {
    font-family: 'Love Ya Like A Sister', cursive;
    padding-top: 20px;
    color: whitesmoke; 
    text-align: center; 
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    }
  }

  #gifs-appear-here{
    /* animation: pulse 5s infinite; */
  }

  .gif-animation {
      margin-left : 25%; 
      margin-right : 25%; 
      margin-bottom: 2%; 
      width: 250px; 
      height: 250px; 
      -webkit-transform: skew(-5deg);
      -moz-transform: skew(-5deg);
      -o-transform: skew(-5deg);
  }

  p{
      color: whitesmoke; 
      text-align: justify; 
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #artist-link{
    color: yellowgreen; 
    font-display: bold; 
    font-size: 18px; 
  }

  .btn-success, .btn-warning, form {

      font-family: 'Fredericka the Great', cursive;

  }

  input [type="text"]{
    width: 90%; 
  }